/* .container {
  max-height: 80vh;
  position: relative;
  width: 100%;
  display: grid;
  place-items: center;
}

.device {
  background: url(./screenshot.png) no-repeat center;
  background-size: contain;
  max-height: 80vh;
} */
